* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
}

h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#first {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 20px;
}

.usercss {
  width: 200px;
  text-align: center;
  padding: 5px;
  border: 2px double white;
  border-radius: 5px;
  transition: transform 1s ease;
}

.usercss:hover {
  transform: scale(1.1);
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: orange;
  margin-bottom: 10px;
}

a:hover {
  color: blue;
}
